<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <!--
    don't forget to add [assembly: log4net.Config.XmlConfigurator()] to AssemblyInfo.cs
    -->
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <!--ALAAppender name (prefix) dependent settings-->
    <add key="Log4ALAAppender_1.workspaceId" value=""/>
    <add key="Log4ALAAppender_1.SharedKey" value=""/>
    <add key="Log4ALAAppender_1.logType" value=""/>
    <add key="Log4ALAAppender_1.logMessageToFile" value="true"/>
    <add key="Log4ALAAppender_2.workspaceId" value=""/>
    <add key="Log4ALAAppender_2.SharedKey" value=""/>
    <add key="Log4ALAAppender_2.logType" value=""/>
    <add key="Log4ALAAppender_2.logMessageToFile" value="true"/>
    <add key="Log4ALAAppender_2.jsonDetection" value="true"/>
    <!--<add key="Log4ALAAppender_2.batchSizeInBytes" value="9000"/>-->
    <add key="Log4ALAAppender_2.batchWaitMaxInSec" value="2" />
    <add key="Log4ALAAppender_2.coreFieldNames" value="{'DateFieldName':'DateValue','MiscMessageFieldName':'MiscMsg','LoggerFieldName':'Logger','LevelFieldName':'Level'}"/>
    <!--<add key="Log4ALAAppender_2.useSocketPool" value="true" />-->
    <!--<add key="Log4ALAAppender_2.threadPriority" value="AboveNormal" />-->
    <!--<add key="Log4ALAAppender_2.batchNumItems" value="20" />-->
    <!--<add key="Log4ALAAppender_2.batchWaitInSec" value="18" />-->
    <add key="alaQueueSizeLogIntervalEnabled" value="false"/>
    <add key="alaQueueSizeLogIntervalInSec" value="100"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>