<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <!--
    don't forget to add [assembly: log4net.Config.XmlConfigurator()] to AssemblyInfo.cs
    -->
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <!--ALAAppender name (prefix) dependent settings-->
    <add key="Log4ALAAppender_1.workspaceId" value=""/>
    <add key="Log4ALAAppender_1.SharedKey" value=""/>
    <add key="Log4ALAAppender_1.logType" value=""/>


    <!-- +++++++++++++++++++++++++++++++++++ -->
    <!-- Properties to use the Ingestion API -->
    <!-- +++++++++++++++++++++++++++++++++++ -->

    <!-- to use the new Ingestion API set to true - default is false -->
    <!-- if true the above workspaceId and SharedKey can leave empty -->
    <add key="Log4ALAAppender_1.ingestionApi" value="false"/>
    <add key="Log4ALAAppender_1.ingestionIdentityLogin" value="true"/>    
    <!--to compress the send ingestion logs - default is true-->
    <add key="Log4ALAAppender_1.ingestionApiGzip" value="true"/>
    <!-- Tenant ID of your Microsoft Entra ID  -->
    <add key="Log4ALAAppender_1.tenantId" value=""/>
    <!-- Application ID of your registered Microsoft Entra Application and service principal -->
    <add key="Log4ALAAppender_1.appId" value=""/>
    <!-- the secret of the above application ID-->
    <add key="Log4ALAAppender_1.appSecret" value=""/>
    <!-- the dcr endpoint -->
    <add key="Log4ALAAppender_1.dcEndpoint" value=""/>
    <!-- the data collection rule (dcr) id which should be used for the transformantion -->
    <add key="Log4ALAAppender_1.dcrId" value=""/>
    <!-- the dcr endpoint api version - default is 2023-01-01 -->
    <add key="Log4ALAAppender_1.dcEndpointApiVersion" value="2023-01-01"/>

    <add key="Log4ALAAppender_1.logMessageToFile" value="true"/>
    <add key="Log4ALAAppender_2.workspaceId" value=""/>
    <add key="Log4ALAAppender_2.SharedKey" value=""/>
    <add key="Log4ALAAppender_2.logType" value=""/>
    <add key="Log4ALAAppender_2.logMessageToFile" value="true"/>
    <add key="Log4ALAAppender_2.jsonDetection" value="true"/>
    <!--<add key="Log4ALAAppender_2.batchSizeInBytes" value="9000"/>-->
    <add key="Log4ALAAppender_2.batchWaitMaxInSec" value="2" />
    <add key="Log4ALAAppender_2.coreFieldNames" value="{'DateFieldName':'DateValue','MiscMessageFieldName':'MiscMsg','LoggerFieldName':'Logger','LevelFieldName':'Level'}"/>
    <!--<add key="Log4ALAAppender_2.useSocketPool" value="true" />-->
    <!--<add key="Log4ALAAppender_2.threadPriority" value="AboveNormal" />-->
    <!--<add key="Log4ALAAppender_2.batchNumItems" value="20" />-->
    <!--<add key="Log4ALAAppender_2.batchWaitInSec" value="18" />-->
    <add key="alaQueueSizeLogIntervalEnabled" value="false"/>
    <add key="alaQueueSizeLogIntervalInSec" value="100"/>
    <!-- debug logging into the error file e.g.log4ALA_error.log - default is false-->
    <add key="enableDebugConsoleLog" value="false"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>